{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        services
      </h1>
    </div>
    
    <section class="container mt-5 mb-5">

      <div class="row mt-5">
        <div class="col-md-4">
          <img src="https://placeimg.com/640/480/arch" alt="" class="img-fluid">
        </div>
        <div class="col-md-8 animate__animated animate__fadeInRight">
          <h2 class="text-left">Service 1 </h2>
          <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At augue eget arcu dictum varius duis at consectetur. Velit euismod in pellentesque massa placerat duis. Tincidunt id aliquet risus feugiat in. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Egestas pretium aenean pharetra magna. Arcu non sodales neque sodales ut etiam sit. Urna porttitor rhoncus dolor purus non enim praesent elementum. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Mauris ultrices eros in cursus turpis. Lectus proin nibh nisl condimentum id venenatis a. Tincidunt arcu non sodales neque. Mauris pharetra et ultrices neque. Velit laoreet id donec ultrices tincidunt. Ut etiam sit amet nisl purus.</p> 
        </div>
      </div>
  
      <div class="row mt-5">
        <div class="col-md-8  animate__animated animate__fadeInLeft  animate__delay-1s">
          <h2 class="text-left">Service 2 </h2>
          <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At augue eget arcu dictum varius duis at consectetur. Velit euismod in pellentesque massa placerat duis. Tincidunt id aliquet risus feugiat in. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Egestas pretium aenean pharetra magna. Arcu non sodales neque sodales ut etiam sit. Urna porttitor rhoncus dolor purus non enim praesent elementum. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Mauris ultrices eros in cursus turpis. Lectus proin nibh nisl condimentum id venenatis a. Tincidunt arcu non sodales neque. Mauris pharetra et ultrices neque. Velit laoreet id donec ultrices tincidunt. Ut etiam sit amet nisl purus.</p>
        </div>
        <div class="col-md-4">
          <img src="https://placeimg.com/640/480/nature" alt="" class="img-fluid">
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-4">
          <img src="https://placeimg.com/640/480/people" alt="" class="img-fluid">
        </div>
        <div class="col-md-8 animate__animated animate__fadeInRight">
          <h2 class="text-left">Service 3 </h2>
          <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At augue eget arcu dictum varius duis at consectetur. Velit euismod in pellentesque massa placerat duis. Tincidunt id aliquet risus feugiat in. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Egestas pretium aenean pharetra magna. Arcu non sodales neque sodales ut etiam sit. Urna porttitor rhoncus dolor purus non enim praesent elementum. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Mauris ultrices eros in cursus turpis. Lectus proin nibh nisl condimentum id venenatis a. Tincidunt arcu non sodales neque. Mauris pharetra et ultrices neque. Velit laoreet id donec ultrices tincidunt. Ut etiam sit amet nisl purus.</p> 
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-8  animate__animated animate__fadeInLeft  animate__delay-1s">
          <h2 class="text-left">Service 4 </h2>
          <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At augue eget arcu dictum varius duis at consectetur. Velit euismod in pellentesque massa placerat duis. Tincidunt id aliquet risus feugiat in. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Egestas pretium aenean pharetra magna. Arcu non sodales neque sodales ut etiam sit. Urna porttitor rhoncus dolor purus non enim praesent elementum. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Mauris ultrices eros in cursus turpis. Lectus proin nibh nisl condimentum id venenatis a. Tincidunt arcu non sodales neque. Mauris pharetra et ultrices neque. Velit laoreet id donec ultrices tincidunt. Ut etiam sit amet nisl purus.</p>
        </div>
        <div class="col-md-4">
          <img src="https://placeimg.com/640/480/tech" alt="" class="img-fluid">
        </div>
      </div>

    </section>

</main>



{% endblock %}