<footer>
    <div class="bg-accent mt-5">
      <div class="container-fluid py-3">
        <div class="row align-items-center">
          <div class="col-sm-6 text-lg-left text-left">
            <h4>
              Reach out to hire YTubers
            </h4>
          </div>
          <div class="col-sm-6 text-lg-right text-center">
            <button class="btn btn-light">
              <a class="btn btn-light" href="{% url 'contact' %}">Contact Us</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-3">
      <div class="row align-items-center">
        <div class="col-md-4 text-lg-left text-center">
          <h5>
            2020 YTubers for Hire
          </h5>
        </div>
        <div class="col-md-4 text-lg-center text-center">
          <h5>
            All Rights Reserved @nandinichhajed
          </h5>
        </div>       
        <div class="col-md-4 text-lg-right text-center">
          <div>
            <!-- this is form context_processors -->
            {% for c in you %}
            <button type="button" class="btn btn-accent">  
              <a href="{{ c.fb_link }}"> <i class="fab fa-facebook-f fa-lg" ></i> </a> 
            </button>
            <button type="button" class="btn btn-accent">  
              <a href="{{ c.insta_link }}"> <i class="fab fa-instagram fa-lg" ></i> </a> 
            </button>
            <button type="button" class="btn btn-accent">  
              <a href="{{ c.twitter_link }}"> <i class="fab fa-twitter fa-lg" ></i> </a> 
            </button>
            <button type="button" class="btn btn-accent">  
              <a href="{{ c.yt_link }}"> <i class="fab fa-youtube fa-lg" ></i> </a> 
            </button>
            {% endfor %}
      
            {% comment %} 
            <button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg"></i> </button>
            <button class="btn btn-accent"> <i class="fab fa-instagram fa-lg"></i> </button>
            <button class="btn btn-accent"> <i class="fab fa-twitter fa-lg"></i> </button>
            <button class="btn btn-accent"> <i class="fab fa-youtube fa-lg"></i> </button> 
            {% endcomment %}

          </div>
        </div>
      </div>
    </div>
  </footer>